  Options -Indexes

  <IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Eliminar la extensión de los archivos PHP
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^([^\.]+)$ $1.php [NC,L]
    
    # Redirigir todas las solicitudes a index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
  </IfModule>
